According to RFC, `x5c` JWS headers should be base64-encoded and not base64-url-encoded

Currently, the certificate chain for the signer of an openid4vp authorization request (if I remember correctly that this is where it occurred) is base64url-encoded. See the code excerpt from the openid4vc shared utils.

```
    return {
      ...requestSigner,
      x5c: requestSigner.x5c.map((certificate) => certificate.toString('base64url')),
      alg: leafCertificate.publicJwk.signatureAlgorithm,
      kid: leafCertificate.publicJwk.keyId,
    }
```

According to the specification https://www.rfc-editor.org/rfc/rfc7515.html#section-4.1.6, Each string in the array is a
   base64-encoded ([Section 4 of [RFC4648]](https://www.rfc-editor.org/rfc/rfc4648#section-4) -- not base64url-encoded) DER
   [[ITU.X690.2008](https://www.rfc-editor.org/rfc/rfc7515.html#ref-ITU.X690.2008)] PKIX certificate value.

Is this a deliberate deviation?